:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary1: #9785ba;
  --color-primary2: #af9fcd;
  --color-secondary1: #d7c7f4;
  --color-secondary2: #faf7ff;
  --color-logo: #9785ba;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: var(--color-secondary1);
  color: var(--color-black);
  font-family: "Ubuntu", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
